Source: vscp
Section: misc
Priority: optional
Maintainer: Ake Hedman <akhe@grodansparadis.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://www.vscp.org
Vcs-Git: https://github.com/grodansparadis/vscp.git
Vcs-Browser: https://github.com/grodansparadis/vscp

Package: vscpd
Architecture: any
Depends: ${misc:Depends}, libc6, 
	libwxbase3.0-dev (>=3.0~) | libwxgtk3.0-dev (>=3.0~) | libwxbase3.1-dev (>=3.1~) | libwxgtk3.1-dev (>=3.1~), 
	libssl1.1.0 | libssl1.0.0 | libssl1.0.1 | libssl1.0.2
Description: The VSCP daemon
 vscpd is a daemon for the VSCP & Friends package.

Package: vscpworks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, 
	libwxgtk3.0-dev (>=3.0~) | libwxgtk3.1-dev (>=3.1~), 
	libssl1.1.0 | libssl1.0.0 | libssl1.0.1 | libssl1.0.2
Description: VSCP toolbox
 vscpworks is a graphical application that can be used to 
 diagnose and to control local or remote level I or level II 
 VSCP nodes. VSCP Works can upload firmware, configure device,
 log data from devices and a lot more.

Package: libvscphelper
Architecture: any
Depends: ${misc:Depends}, libc6, 
	libwxbase3.0-dev (>=3.0~) | libwxgtk3.0-dev (>=3.0~) | libwxbase3.1-dev (>=3.1~) | libwxgtk3.1-dev (>=3.1~), 
	libssl1.1.0 | libssl1.0.0 | libssl1.0.1 | libssl1.0.2
Description: The VSCP helper library
 The helper library is a 

Package: libvscphelper-dev
Architecture: any
Depends: ${misc:Depends}, libc6, 
	libwxbase3.0-dev (>=3.0~) | libwxgtk3.0-dev (>=3.0~) | libwxbase3.1-dev (>=3.1~) | libwxgtk3.1-dev (>=3.1~), 
	libssl1.1.0 | libssl1.0.0 | libssl1.0.1 | libssl1.0.2
Description: The VSCP helper library
 The helper library is a

